* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Responsividade geral */
body,
html {
  max-width: 100vw;
  overflow-x: hidden;
}

/*Menu Mobile*/
.menu-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 36px;
  color: #255f5a;
  cursor: pointer;
  padding: 10px;
}

/* Menu mobile */
.menu-btn {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.menu {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: -250px;
  /* escondido */
  width: 250px;
  height: 100vh;
  background-color: #255f5ac2;
  color: white;
  transition: left 0.3s ease;
  padding-top: 60px;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: #28a745;
}

.menu.open {
  left: 0;
  /* mostra o menu */
}

/*********************BOTÕES*************************/
.button-primary {
  background-color: #255f5a;
  color: #fff;
}

.button-primary:hover {
  background-color: #16e646ff;
  transform: scale(1.05);
}

.button-secondary {
  background-color: #28a745;
  color: #fff;
}

.button-secondary:hover {
  background-color: #1e7e34;
  transform: scale(1.05);
  /* Pequeno efeito de "zoom" ao passar o mouse */
}

/******************************************************/

/****************************TOPO*******************/
/* Estilizando o Navbar */
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #255f5ac2;
  padding: 15px;
  z-index: 2;
}

/* Logo*/
.logo {
  height: 85px;
  margin-left: 100px;
}

/* MENU DE NAVEGAÇÃO */
/******************************************************/
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
}

.nav-links a.active {
  text-decoration: none;
  color: #255f5a;
  background-color: #ffe082;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #0b2654ff;
}
/**************************** FIM TOPO*******************/
/******************************************************/
.section {
  padding: 60px 20px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px;
}


/****************************SEÇÃO HERO***************************************/

.hero {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.hero img {
  max-width: 600px;
  border-radius: 100%;
  padding: 20px;
}

.conteudo_hero { 
  margin: 80px 0px 0px 80px;
}

.hero h1 {
  width: 600px;
  color: #255f5a;
  font-size: 36px;
  font-weight: 900;
}

.hero p {
  width: 450px;  
  font-size: 18px;  
}

.button {
  width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  animation: pulsar 2s infinite;
  /* Transição para hover */
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


/***************SEÇÃO DE SOBRE********************/

.sobre_fundo {
  width: 100%;
  height: 100%;
  background-image: url("/img/background_principal.png");
  background-size: cover;
  border: none;
}

.sobre_nos {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sobre_nos h2 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  color: #255f5a;
  animation: slideInLeft 0.8s ease-out;
}

.sobre_nos p {
  font-size: 18px;
  line-height: 2rem;
  margin-bottom: 20px;
  text-align: justify;
  animation: slideInLeft 0.8s ease-out;
}

.btn_sobrenos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #ffffffff;
  width: 200px;
  padding: 10px;
  border: 2px solid #255f5a;
  border-radius: 5px;
  text-decoration: none;
}

.btn_sobrenos:hover {
  background-color: #1e7e34;
  color: #fff;
  border: none;
  
}

@keyframes slideInLeft {
  to {
    opacity: 0;
    transform: translateX(50px);
  }

  from {
    opacity: 1;
    transform: translateX(0);
  }
}

/******************************************************/

/*SEÇÃO DE DIFERENCIAIS*/
/******************************************************/
.diferenciais {
  margin-top: 30px;
  width:1024px;
  margin: 0 auto;
}

.diferenciais_bg {
  background-image: url("/img/background_principal_002.png");
  background-size: cover;
  position: relative;
}

.diferenciais h2 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  color: #255f5a;
  animation: slideInRight 0.8s ease-out;
  /* Animação ao aparecer */
}

@keyframes slideInRight {
  to {
    opacity: 0;
    transform: translateX(50px);
  }

  from {
    opacity: 1;
    transform: translateX(0);
  }
}

.grade-de-diferenciais {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.item-de-diferenciais {
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  border-left: 5px solid #255f5a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  /* Transição para hover */
}

.item-de-diferenciais:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.item-de-diferenciais h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #255f5a;
}

.item-de-diferenciais p {
  color: #555;
  font-size: 18px;
  font-weight: 100;
}



/*METODOLOGIA HOME*/
.section_metodologia {
  width: 100%;
  background-image: url("/img/background_principal_002.png");
  background-size: cover;
  position: relative;
}
.container_metodologia {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.metodologia-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
}
.metodologia-intro h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #255f5a;
  text-align: center;
}
.metodologia-intro p {
  width: 100%;
  text-align: center;
  font-size: 16px;  
  text-align: justify;
  margin-bottom: 20px;
}

.metodologia-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.metodologia-item {
  height: 100 vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.metodologia-item img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.metodologia-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 20px;
  color: #255f5a;
  margin-bottom: 10px;
}

.metodologia-conteudo h3 {
  font-size: 36px;
  color: #255f5a;
  margin-bottom: 10px;
}

.metodologia-conteudo p {
  font-size: 16px;
  color: gray;
  text-align: justify;
  margin: 0 20px;
}

/*************************INFRAESTRUTURA******************************************/

.infraestrutura {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("");
  background-size: cover;
  border: none;
}

.infraestrutura-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.infraestrutura-container h1 {
  width: 900px;
  color: #255f5a;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}

.infraestrutura-container p {
  font-size: 18px;
  color: gray;
  text-align: justify;
  line-height: 1.6;
  margin-top: 20px;
}


.conteudo_infraestrutura {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
  padding: 20px;
  color: gray;
}

.conteudo_span {
  margin-top: 20px;
  font-size: 16px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: 1024px;
  color: #255f5a;
  background-color: #41e3d336;
  border-radius: 8px;
  padding: 10px;
}

.section_galeria {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}
.container-galeria {
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.container-galeria h2 {
  font-size: 36px;
  padding: 20px;
  width: 800px;
  text-align: center;
  color: #255f5a;
  margin-bottom: 10px;
}

.container_imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  margin-top: 20px;
}

.container_imagens img {
  margin: 10px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.1);
}

/*****************************INFRAESTRUTURA*****************************************/

/********************************************PARCERIAS*******************************************/

.container-parceria {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-image: url("/img/background_principal.png");
  background-size: cover;
  border: none;
}

.container-parceria h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #255f5a;
}

.container-parceria h2 {
  width: 900px;
  text-align: left;
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 300;
}

.parceiros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.parceiros-conteudo {
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.parceiros-conteudo p {
  margin: 10px 0;
  font-size: 18px;
  text-align: justify;
}

.parceiros-conteudo img {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
}

.parceiros-conteudo img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  
}
/********************************************AULAS ESTIMULANTES*******************************************/

.aulas-estimulantes {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 20px;
  background-image: url("../img/Bg-home-1.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;
}

.aulas-titulo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #255f5a;
}

/**************************CARDS*********************/
.cards-conteudo {
  margin: 0 auto;
  width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
.card {
  width: calc(100% / 3 - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 5px 5px 4px rgba(121, 255, 3, 0.1);
}

.card-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-conteudo img {
  max-width: 100%;
  height: 300px;
}
.card-conteudo span {
  font-weight: bold;
  color: #255f5a;
  margin-top: 10px;
}
.cards-titulos {
  font-size: 1.5rem;
  font-weight: 600;
  color: #255f5a;
  margin-bottom: 10px;
}

/*CONTATOS*/

.img-localizacao {
  position: relative;
  height: 100vh;
  background-image: url("../img/2025-05-19_13-42-59.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-localizacao h3 {
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0;
  position: relative;
  padding: 10px;
  background-color: #255f5a;
  font-family: "lato", sans-serif;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  font-size: 24px;
  font-family: "Poppins", serif;
  text-align: center;
}

.img-localizacao iframe {
  position: absolute;
  max-width: 1200px;
  height: 450px;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.img-localizacao-contatos {
  margin: 0 auto;
  position: absolute;
  width: 500px;
  background-color: #255f5a;
  padding: 10px;
  bottom: 8%;
  left: 0;
  right: 0;
}

.img-localizacao-contatos p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 36px;
  text-shadow: 0px 6px 8px #000000;
  text-align: center;
}

/*SECAÇÃO METODOLOGIA*/
.container-card {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

.secao_metodologia {
  background-image: url("/img/background_principal_003.png");
  background-size: cover;
  background-position: center;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #dfe9e836;
  border-radius: 4px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.8s ease-out forwards;
}

.cards a {
  margin: 0 auto;
  background-color: #255f5a;
  border-radius: 5px;
  color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
}

.container-imagem {
  margin: 10px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.container-imagem img {
  border-radius: 100px;
  width: 150px;
  height: 150px;
}

.container-info {
  font-family: "Courier New", Courier, monospace;
  color: #255f5a;
  height: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-info p {
  margin-top: 20px;
}

.container-titulo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container-titulo h3 {
  margin: 40px;
  text-align: center;
  color: #255f5a;
  font-size: 45px;
}

.bg-coloryelow {
  background-color: #ffe082;
}

.bg-colorgreen {
  background-color: #40f114;
}

.bg-colorblue {
  background-color: #04e9da;
}

.link-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 50px;
  background: #255f5a;
}

.link-container h2 {
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
}

.link-container ul {
  list-style: none;
  padding: 0;
}

.link-container ul li {
  margin: 8px 0;
}

.link-container ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  transition: 0.3s;
}

.link-container ul li a:hover {
  color: #0df615;
}

.link-container-contato {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.link-container-contato a:hover {
  color: #0df615;
}
.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #0df615;
}

.social-icons img {
  width: 15px;
  height: 15px;
}/**************************CTA***********************/
.cta {
  background-color: #ffe082;
  text-align: center;
}

.cta h2 {
  color: #255f5a;
}

.cta h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #255f5a;
}

.cta p {
  font-size: 18px;
  margin: 30px;
  color: #555;
}

.button-cta {
  background-color: #255f5a;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.cta a::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 8px;
  width: 30px;
  height: 30px;
  background-image: url("/img/whatsapp.png");
  background-size: cover;
  margin-right: 10px;
}
/*Botão whatsApp*/
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  border-radius: 50px;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.whatsapp-btn:hover {
  transform: scale(1.05);
}

.whatsapp-btn img {
  width: 50px;
  height: 50px;
}
.whatsapp-btn-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

footer {
  border-top: 1px #fff;
  text-align: center;
  background-color: #255f5a;
  color: #fff;
  font-size: 12px;
  border-top: 1px solid #fff;
}

footer span,
a {
  color: #fff;
  text-decoration: none;
}

footer span {
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .topo {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
  .menu {
    display: block;
    position: absolute;
    right: 0;
    background: #255f5a82;
    height: calc(100vh - 10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
    z-index: 1;
  }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu ul li {
    border-bottom: 1px solid #eee;
    padding: 1rem;
  }
  .container-card,
  .grade-de-diferenciais,
  .link-container {
    flex-direction: column !important;
    gap: 1rem;
  }
  .cards,
  .item-de-diferenciais {
    width: 100% !important;
    margin: 0 auto;
  }
  
  .hero {
    width:1024px;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .hero img {
    max-width: 300px;
  }
  .hero h1 {
    margin-top: -100px;
  }

  .conteudo_hero h1 {
    font-size: 1.5em;
    width: 100%;
  }

  .button {
    width: 50%;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-color: #255f5a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  iframe {
    width: 100vw !important;
    height: 250px !important;
  }
}

/* Ajustes para telas muito pequenas */
@media (max-width: 600px) {
  h1,
  h2,
  h3 {
    font-size: 1.2em;
  }
  .button,
  .button-primary,
  .button-secondary,
  .button-cta {
    width: 50%;
    font-size: 1em;
    padding: 1em;
  }
  .img-localizacao-contatos,
  .link-container {
    font-size: 0.95em;
  }
}
