.banner-metodologia{
  background-image: url("../img/bannerMetodologia.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
.banner-conteudo{  
  max-width: 60%;
  padding: 20px;
}

.banner-conteudo h1{  
  font-size: 4.5rem;
  color: #255f5a;
  margin-bottom: 10px;
}
.banner-metodologia p{
  font-size: 1.5rem;
  color: #255f5a;
}


.metodologia-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  margin: 40px auto; 
  
}
.metodologia-intro h2{
  font-size: 4rem;
  margin-bottom: 20px;
  color: #255f5a;
  text-align: center;
}
.metodologia-intro p{
  width:100%;
  text-align:center;
  font-size: 20px;
  color: gray;
  text-align: justify;
  margin-bottom: 40px;
}

.metodologia-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
}

.metodologia-item {
  height:100 vh;
  padding: 40px;
  display: flex;   
  justify-content: center;
  align-items: center;
  text-align: center;
}
.metodologia-item img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.metodologia-conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; 
  font-size: 20px;
  color: #255f5a;
  margin-bottom: 10px;
}

.metodologia-conteudo h3{
  font-size: 4rem;
  color: #255f5a;
  margin-bottom: 10px;
}

.metodologia-conteudo p{
  font-size: 20px;
  color: gray;
  text-align: justify;
  margin: 0 20px;
}


